html, body, div, span, a, nav, ul, li {
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration:none;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
    
body{
    background:#f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size:13px;
}

.container{
    text-align:center;
}

.login-form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.login-form h5{
    text-transform: uppercase;
    font-weight: 800;
    color:#aaa;
    letter-spacing: 1px;
}

.login-form .login-form-heading,
.login-form .checkbox {
  margin-bottom: 10px;
}
.login-form .checkbox {
  font-weight: normal;
}
.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}
.login-form .form-control:focus {
  z-index: 2;
}
.login-form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}