
<div th:fragment="success-authentication">
    <head>
        <title>Welcome &mdash; SPRING-BOOT-SKELETON</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />	
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" href="/css/dashboard.css" th:href="@{/css/dashboard.css}" />        
    </head>
    <body>

        <div class="container">
            <img src="/images/cloudteams.png" width="400px" max-width="100vw"  />
            <div class="alert alert-warning">https://github.com/ubitech/cloudteams</div>

            Successfuly authorized GitHub ... Window will now close!
        </div>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <script>setTimeout(function () {
                console.log("exit....");
                self.close;
            }, 5000);</script>
    </body>

</div>