<div th:fragment="github-authentication">
    <head>
        <title>Authorize GitHub &mdash; CLOUDTEAMS</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen"/>
        <link rel="stylesheet" href="/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
    </head>
    <body>

        <div class="container">
            <img class="github" src="/images/cloudteams-logo.png"/>
            <div class="alert alert-warning">Successfully authorized with GitHub.</div>

            <button type="button" onclick="window.close();" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close window
            </button>
        </div>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    </body>

</div>

<div th:fragment="github-no-auth">

    <div class="alert alert-warning">Please authorize your Github account</div>
    <button id="btn-oauth" onclick="authorizeGithub()" class="btn btn-danger">Authorize Github</button>
    <br/>

    <script th:inline="javascript">

        var GITHUB_AUTHORIZE_URL = "https://github.com/login/oauth/authorize?response_type=code&amp;client_id=9aababac7a8ec6c9659e&amp;redirect_uri=http://cloudteams.euprojects.net/github/auth?username=" + ct_user_name + "&amp;scope=user%20public_repo%20repo%20repo:status";
        var CLOUDTEAMS_URL = "http://cloudteams.euprojects.net/api/v1/auth/token";
        var POPUP;

        function authorizeGithub() {
            POPUP = window.open(GITHUB_AUTHORIZE_URL, "mywindow", "status=0,toolbar=0,resizable=0,scrollbars=0,width=800,height=600");

            $.post({
                data: {username: ct_user_name},
                url: CLOUDTEAMS_URL
            }).success(function (data, status, xhr) {

                var res = JSON.parse(data);
                if ("SUCCESS" === res.code) {
                    localStorage.auth_token = res.token;
                    loadGithubWidget();
                } else {
                    console.log("Could not authorize");
                }

            });
        }

    </script>
</div>

<div th:fragment="github-no-project">
    <div class="alert alert-warning">Please select a Github repository</div>
    <select id="repository" th:if="${!GetRepositories.isEmpty()}">
        <option th:each="repo : ${GetRepositories}" th:value="${repo.getName()}" th:text="${repo.getName()}"></option>
    </select>
    <button id="btn-oauth" onclick="assignRepository()" class="btn btn-danger">Assign Repository to Project</button>

    <script th:inline="javascript">

        function assignRepository() {

            $.post({
                url: "http://cloudteams.euprojects.net/api/v1/github/add",
                data: {project_id: ct_project_id, reponame: $("#repository :selected").text()},
                beforeSend: function (xhr) {
                    if (hasAccessToken()) {
                        xhr.setRequestHeader("Authorization", localStorage.auth_token);
                    }
                },
            }).success(function (data, status, xhr) {

                var res = JSON.parse(data);
                if ("SUCCESS" === res.code) {
                    console.log("Success assigned project, reload Github widget");
                    //Reload Github widget
                    loadGithubWidget();
                } else {
                    console.log("Could not assign project");
                }
            });
        }

    </script>
</div>


<div th:fragment="github-auth-project">
    <div class="alert alert-warning">Github repository statistics</div>
    <div th:inline="text"><strong>Repository:</strong> [[${repository.getName()}]]</div>
    <div th:inline="text"><strong>Description:</strong> [[${repository.getDescription()}]]</div>
    <div th:inline="text"><strong>Size:</strong> [[${repository.getSize()}]]</div>
    <div th:inline="text"><strong>URL:</strong> [[${repository.getHtmlUrl()}]]</div>
    <div th:inline="text"><strong>Forks:</strong> [[${repository.getForks()}]]</div>
    <div th:inline="text"><strong>Issues:</strong> [[${repository.getOpenIssues()}]]</div>
</div>