<div th:fragment="jira-authentication">
    <head>
        <title>Authorize JIRA on CloudTeams</title>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
              rel="stylesheet" media="screen"/>
        <link rel="stylesheet" href="/github/css/dashboard.css" th:href="@{/github/css/dashboard.css}"/>
    </head>
    <body>

        <div class="container">
            <img class="jira" src="/jira/images/cloudteams-logo.png"/>
            <div class="alert alert-warning">Successfully authorized with JIRA.</div>

            <button type="button" onclick="window.close();" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close window
            </button>
        </div>

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    </body>

</div>

<div th:fragment="jira-no-auth">

    <div class="alert alert-warning">Please synchronize your JIRA account --( Under development)</div>
    <button id="btn-oauth" onclick="authorizeJIRA()" class="btn btn-danger">Synchronize JIRA</button>
    <br/>

    <script th:inline="javascript">

        //Check if an outdated token exists then removed
        if (hasJiraAccessToken()) {
            localStorage.removeItem("jira_auth_token");
        }


        var JIRA_AUTHORIZE_URL = "https://cloudteams.atlassian.net/plugins/servlet/oauth/authorize?oauth_token=xuD9bZrIanrkjErTBpFGr8oqipcaM5Q0&redirect_uri=https://cloudteams.euprojects.net/bitbucket/api/v1/bitbucket/auth?username=" + ct_user_name+ "&amp;scope=account";
        //var JIRA_AUTHORIZE_URL = "https://cloudteams.atlassian.net/plugins/servlet/oauth/authorize?response_type=code&amp;client_id=6xQqvPuY6ZgFcsGmDj&amp;redirect_uri=https://cloudteams.euprojects.net/bitbucket/api/v1/bitbucket/auth?username=" + ct_user_name+ "&amp;scope=account";
        //var BITBUCKET_AUTHORIZE_URL = "https://bitbucket.org/site/oauth2/authorize?response_type=code&amp;client_id=6xQqvPuY6ZgFcsGmDj&amp;redirect_uri=http://localhost:8083/api/v1/bitbucket/auth?username=" + ct_user_name+ "&amp;scope=account";
            //var BITBUCKET_AUTHORIZE_URL = "https://github.com/login/oauth/authorize?response_type=code&amp;client_id=9aababac7a8ec6c9659e&amp;redirect_uri=https://cloudteams.euprojects.net/github/api/v1/github/auth?username=" + ct_user_name + "&amp;scope=user%20public_repo%20repo%20repo:status";

    var POPUP;

        function authorizeJIRA() {
            POPUP = window.open(JIRA_AUTHORIZE_URL, "mywindow", "status=0,toolbar=0,resizable=0,scrollbars=0,width=1020,height=618");

            $.post({
                data: {username: ct_user_name},
                url: CLOUDTEAMS_JIRA_REST_ENDPOINT + "/auth/token"
            }).success(function (data, status, xhr) {
                var res = JSON.parse(data);
                if ("SUCCESS" === res.code) {
                    localStorage.jira_auth_token = res.token;
                    loadJiraWidget()();
                }
                console.log(res.message);
            });
        }

    </script>
</div>

<div th:fragment="jira-no-project">
    <div class="alert alert-warning">Please select a JIRA project</div>
    <select id="repository" th:if="${!GetRepositories.isEmpty()}">
        <option th:each="repo : ${GetRepositories}" th:value="${repo.getName()}" th:text="${repo.getName()}"></option>
    </select>
    <br/><br/>
    <button id="btn-oauth" onclick="assignRepository()" class="btn btn-danger">Assign Repository</button>

    <script th:inline="javascript">

        function assignRepository() {

            $.post({
                url: CLOUDTEAMS_JIRA_REST_ENDPOINT + "/bitbucket/add",
                data: {project_id: ct_project_id, reponame: $("#repository :selected").text()},
                beforeSend: function (xhr) {
                    if (hasJiraAccessToken()) {
                        xhr.setRequestHeader("Authorization", localStorage.jira_auth_token);
                    }
                },
            }).success(function (data, status, xhr) {

                var res = JSON.parse(data);
                if ("SUCCESS" === res.code) {
                    //Reload Jira widget
                    loadJiraWidget();
                }
                console.log(res.message);
            });
        }

    </script>
</div>


<div th:fragment="jira-auth-project">

    <div class="alert alert-warning">Bitbucket Statistics</div>

    <p th:inline="text"><a th:href="'https://github.com/' + ${githubStats.getRepository().getOwner().getLogin()}">[[${githubStats.getRepository().getOwner().getLogin()}]]</a>/<a th:href="${githubStats.getRepository().getHtmlUrl()}">[[${githubStats.getRepository().getName()}]]</a></p>
    <p th:inline="text">[[${githubStats.getRepository().getDescription()}]]</p>

    <!--Last Update-->
    <p class="bold" th:inline="text">
        <span class="highlight">Last Update (<span th:text="${githubStats.getRepository().getUpdatedAt()}"></span>)</span>
    </p>

    <hr/>

    <!-- 1. Code Section (commitsTotal,branchesNames,releasesNames,contibutorsTotal,repositoryName(withUrl) )-->
    <h3 class="header-medium secondary">Code</h3>

    <div class="data">
        <!--Commits-->
        <p class="bold" th:inline="text">
            <span class="highlight">Commits (<span th:text="${githubStats.getCommits().size()}"></span>) </span>
            <a th:href="${githubStats.getRepository().getHtmlUrl()} + '/commits/master'"><i class="icon icon-object"></i></a>
        </p>

        <!--Contributors-->
        <p class="bold" th:inline="text">
            <span class="highlight">Contributors (<span th:text="${githubStats.getCollaborators().size()}"></span>)</span>
            <a th:href="${githubStats.getRepository().getHtmlUrl()} + '/graphs/contributors'"><i class="icon icon-object"></i></a>
        </p>

        <!--Watchers-->
        <p class="bold" th:inline="text">
            <span class="highlight">Watchers (<span th:text="${githubStats.getRepository().getWatchers()}"></span>)</span>
            <a th:href="${githubStats.getRepository().getHtmlUrl()} + '/watchers'"><i class="icon icon-object"></i></a>
        </p>

        <!--Forks-->
        <p class="bold" th:inline="text">
            <span class="highlight">Forks (<span th:text="${githubStats.getRepository().getForks()}"></span>)</span>
        </p>

        <!--Branches-->
        <p class="bold" th:inline="text">
            <span class="highlight">Branches (<span th:text="${githubStats.getBranches().size()}"></span>)</span>
            <a target="_blank" th:each="branch : ${githubStats.getBranches()}" th:href="${githubStats.getRepository().getHtmlUrl() + '/tree/' + branch.getName()}" th:text="${branch.getName()}"></a>
        </p>
    </div>

    <hr/>

    <!-- 2. Issues Section (openissuesTotal,closedisseusTotal,labelNames,milestonesNames) -->
    <h3 class="header-medium secondary">Issues</h3>

    <!--Open Issues-->
    <p class="bold" th:inline="text">
        <span class="highlight">Open Issues (<span th:text="${githubStats.getRepository().getOpenIssues()}"></span>)</span>
        <a th:href="${githubStats.getRepository().getHtmlUrl()} + '/issues'"><i class="icon icon-object"></i></a>
    </p>

    <!--Closed Issues-->
    <p class="bold" th:inline="text">
        <span class="highlight">Closed Issues </span>
        <a th:href="${githubStats.getRepository().getHtmlUrl()} + '/issues?q=is%3Aissue+is%3Aclosed'"><i class="icon icon-object"></i></a>
    </p>

    <!--Labels-->
    <p class="bold" th:inline="text">
        <span class="highlight">Labels </span>
        <a target="_blank" th:each="label : ${githubStats.getLabels()}" th:href="${githubStats.getRepository().getHtmlUrl() + '/labels/' + label.getName()}" th:text="${label.getName()}"></a>
    </p>

    <hr/>

    <!-- 3. Pulse (weekly authors/commits(master), file changes master, additions /deletions master)  -->
    <h3 class="header-medium secondary">Pulse</h3>

    <!--Last Weeks Stats-->
    <p class="bold" th:inline="text">
        Excluding merges, <span class="highlight" th:text="${githubStats.getCommitsStats().getContributors()}"></span> authors have pushed <span class="highlight" th:text="${githubStats.getCommitsStats().getTotalCommits()}"></span> commits to all branches. On master, <span class="highlight" th:text="${githubStats.getCommitsStats().getTotalChanges()}"></span>      files have changed and there have been <span class="highlight" th:text="${githubStats.getCommitsStats().getTotalAdditions()}"></span> additions and <span class="highlight" th:text="${githubStats.getCommitsStats().getTotalDeletions()}"></span> deletions.
    </p>

    <button id="btn-unassign" onclick="unassignRepository()" class="btn btn-danger">Unassign</button>

    <script th:inline="javascript">

        function unassignRepository() {

            $.post({
                url: CLOUDTEAMS_JIRA_REST_ENDPOINT + "/jira/delete",
                data: {project_id: ct_project_id},
                beforeSend: function (xhr) {
                    if (hasJiraAccessToken()) {
                        xhr.setRequestHeader("Authorization", localStorage.jira_auth_token);
                    }
                },
            }).success(function (data, status, xhr) {

                var res = JSON.parse(data);
                if ("SUCCESS" === res.code) {
                    //Reload Github widget
                    loadJiraWidget()();
                }
                console.log(res.message);
            });

        }

    </script>

</div>

<div th:fragment="jira-error">
    <section class="page page-error public-page">
        <div class="content">
            <main>
                <header class="main-header login">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <img src="http://cloudteams.booreiland.nl/img/a1ae6b6e.svg">
                            </div>
                        </div>
                        <h1 class="header-extra-large public">Oh no!</h1>
                        <p class="public-page-subtitle">The page you're looking for doesn't exist</p>
                    </div>
                </header>

                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="button-end">
                                    <p>Go back to <a href="/">the homepage</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </main>
        </div>
    </section>
</div>